@import 'variables';
@import 'mixins';

// ================================================================
// ------------------------ MENU
// ================================================================

// -------- Desktop --------

.desktop-nav {
    @media screen and (max-width: 980px) {
        display: none;
    }
}

// -------- Mobile --------

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    gap: 6px;
    padding: 16px;

    .bar {
        background-color: $white;
    }

    @media screen and (min-width: 980px) {
        display: none;
    }
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $black;
    transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 15, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        text-align: center;
        padding: 0;

        li {
            margin-bottom: 1.6rem;

            a {
                font-size: 20px;
            }
        }
    }
}