// ================================================================
// ------------------------ COLORS
// ================================================================

$black: #0F0F0F;
$black_desat: #151b21;
$grey_dark: #333333;
$grey: #666666;
$grey_light: #999999;
$white: #FAFAFA;

$green_bright_mint: #3dff87;

$blue: #1f1bc4;
$green: #51fa34;

$red: #ce1720;
$orange_red: #f32c00;

$solar_lyme: #b6ff3b;
$circuit_navy: #0c1a2b;

// ================================================================
// ------------------------ BREAKPOINTS
// ================================================================

$mobile: 768px;
$desktop: 1280px;