@charset "UTF-8";
.anchor-center {
  text-align: center;
}

.anchor-end {
  text-align: end;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .responsive {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .responsive {
    flex-direction: column;
  }
}

.wrap {
  flex-wrap: wrap;
}

.old-computer-screen-grid {
  pointer-events: none;
  z-index: 99;
  opacity: 1;
  filter: none;
  mix-blend-mode: overlay;
  background-image: url("../media/640700f5c0e0ea29fd81703a_Overlay_.png");
  background-position: 50%;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
}
.link:active {
  text-decoration: underline;
  transition: all 0.4s ease;
}

.button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.button img {
  height: 28px;
  margin-left: 0.6rem;
  transition: all 0.4s ease;
}
.button:hover img {
  filter: brightness(0) saturate(100%) invert(6%);
  transition: all 0.4s ease;
}
.button.blank {
  color: #FAFAFA;
  transition: all 0.4s ease;
}
.button.blank:hover {
  background-color: rgba(251, 251, 251, 0.08);
  transition: all 0.4s ease;
}
.button.white {
  color: #FAFAFA;
  border: 1px solid #FAFAFA;
  transition: all 0.4s ease;
}
.button.white:hover {
  color: #0F0F0F;
  background-color: #3dff87;
  border-color: #3dff87;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px rgba(61, 255, 135, 0.1), 0 0 20px rgba(61, 255, 135, 0.05), 0 0 30px rgba(61, 255, 135, 0.03);
}
.button.green {
  color: #0F0F0F;
  background-color: #3dff87;
  transition: all 0.4s ease;
}
.button.green:hover {
  background-color: #FAFAFA;
  transition: all 0.4s ease;
}

.card {
  border: 1px solid rgba(251, 251, 251, 0.08);
  background-color: rgba(251, 251, 251, 0.04);
  padding: 0.8rem;
  border-radius: 4px;
}

.scramble {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.extra-margin {
  margin-bottom: 16vh;
}

.horizontal-bar {
  display: block;
  width: 2px;
  height: 100%;
  background-color: #999999;
}

.img-container {
  width: 100%;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.parent-container {
  width: 100%;
  overflow: hidden;
  min-width: 0;
}

.ajustable-text {
  display: inline-block;
  white-space: nowrap;
  transform-origin: left top;
  width: -moz-max-content;
  width: max-content;
}

html {
  background-color: #0F0F0F;
  color: #FAFAFA;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.grid-layout {
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(0, 1024px) minmax(32px, 1fr);
}

.container {
  grid-column: 2;
}

header {
  position: absolute;
  z-index: 1001;
  padding: 1rem 0 1rem 0 !important;
}
header .header-content {
  grid-column: 2;
  justify-content: space-between;
  align-items: center;
}
header .header-content .logo-icon {
  display: flex;
  justify-items: center;
}
header .header-content .logo-icon img {
  height: 2.4rem;
}
header .header-content .desktop-nav {
  box-sizing: border-box;
}
header .header-content .desktop-nav ul {
  justify-content: center;
  margin: 0;
}
header .header-content .desktop-nav ul li a {
  margin-left: 1rem;
  font-size: 1.2rem;
}

main {
  width: 100%;
}

footer {
  border-top: 1px solid #999999;
}
@media screen and (min-width: 768px) {
  footer {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 14px;
  }
}
footer .container {
  margin: 1rem 0 1rem 0;
  width: 100%;
  align-items: center;
}
footer .container .footer-copyright {
  color: #999999;
}

.index {
  padding: 8vh 0 8vh 0 !important;
}

.section-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.section-header h2,
.section-header span {
  font-size: 32px;
  white-space: nowrap;
}
.section-header h2 {
  color: #FAFAFA;
}
.section-header span {
  color: #666666;
}
.section-header .bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #666666;
}

#landing {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
#landing .container {
  justify-content: center;
  align-items: center;
}
#landing h1 {
  color: #3dff87;
  font-weight: bold;
  margin: 0;
}
#landing span {
  font-size: 24px;
  margin: 0 0 16vh 0;
}

#about .about-content {
  gap: 2rem;
}
#about .about-content .about-infos {
  align-items: center;
  gap: 2rem;
}
#about .about-content .about-infos .about-text {
  gap: 2rem;
  margin-bottom: 1rem;
}
#about .about-content .about-infos .about-text .title-about {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 767px) {
  #about .about-content .about-infos .about-text .title-about {
    font-size: 24px;
  }
}
#about .about-content .about-infos .about-text .content-about {
  gap: 1rem;
  font-size: 20px;
}
@media (max-width: 767px) {
  #about .about-content .about-infos .about-text .content-about {
    font-size: 18px;
  }
}
#about .about-content .about-infos .about-text p {
  margin: 0;
}
#about .about-content .about-infos .about-text span {
  color: #3dff87;
}
#about .about-content .about-infos a {
  font-size: 24px;
}
#about .about-content .about-experiences {
  gap: 1rem;
  width: 100%;
}
#about .about-content .about-experiences .title h3 {
  font-size: 32px;
  color: #FAFAFA;
}
#about .about-content .about-experiences .experience {
  gap: 1rem;
}
#about .about-content .about-experiences .experience .experience-visual {
  align-items: center;
}
#about .about-content .about-experiences .experience .experience-visual img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 1rem;
}
#about .about-content .about-experiences .experience .experience-text {
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.6rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  #about .about-content .about-experiences .experience .experience-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  #about .about-content .about-experiences .experience .experience-text {
    font-size: 16px;
  }
}
#about .about-content .about-experiences .experience .experience-text h4 {
  margin: 0;
  color: #FAFAFA;
}
#about .about-content .about-experiences .experience .experience-text span {
  margin: 0;
  color: #999999;
}

#projects .project-content {
  display: grid;
  gap: 1.6rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  #projects .project-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  #projects .project-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
#projects .project-content .project {
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}
#projects .project-content .project:hover {
  opacity: 0.64;
  transition: all 0.4s ease;
}
#projects .project-content .project .img-container {
  aspect-ratio: 16/9;
}
#projects .project-content .project .text-container h3 {
  margin: 0.4rem 0 0.4rem 0;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  #projects .project-content .project .text-container h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  #projects .project-content .project .text-container h3 {
    font-size: 20px;
  }
}
#projects .project-content .project .text-container span {
  color: #999999;
}
@media screen and (min-width: 768px) {
  #projects .project-content .project .text-container span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  #projects .project-content .project .text-container span {
    font-size: 14px;
  }
}

#contact .contact-content {
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  #contact .contact-content .contact-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  #contact .contact-content .contact-text {
    font-size: 20px;
  }
}
#contact .contact-content .contact-links {
  gap: 1rem;
  flex: 1;
}
#contact .contact-content .contact-links a {
  justify-content: space-between;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  gap: 1rem;
}
#contact .contact-content .contact-links a span {
  overflow-wrap: break-word;
  white-space: normal;
  min-width: 0;
  flex-grow: 1;
  text-align: left;
}
@media screen and (min-width: 768px) {
  #contact .contact-content .contact-links a span {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  #contact .contact-content .contact-links a span {
    font-size: 16px;
  }
}
#contact .contact-content .contact-links a img {
  flex-shrink: 0;
}

#back-to-top a {
  justify-content: center;
  gap: 1rem;
}
#back-to-top a img {
  height: 24px;
}
#back-to-top a span {
  color: #FAFAFA;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #back-to-top a span {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  #back-to-top a span {
    font-size: 16px;
  }
}

#warning {
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#warning div {
  width: 100%;
  margin-bottom: 10vh;
}
#warning div h1 {
  color: #FAFAFA;
}
#warning div p {
  margin-top: 0;
}

.back {
  padding-top: 10vh;
}
.back a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.4s ease;
  padding: 1rem 0 1rem 0;
}
.back a img {
  height: 24px;
}
.back a span {
  font-size: 20px;
  color: #FAFAFA;
}
.back a:hover {
  opacity: 0.64;
  transition: all 0.4s ease;
}

.content-project {
  padding: 2vh 0 8vh 0;
}
.content-project .container {
  gap: 2rem;
}
.content-project .container .project-title {
  gap: 0.4rem;
}
.content-project .container .project-title h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
.content-project .container .project-title span {
  color: #999999;
}
@media screen and (min-width: 768px) {
  .content-project .container .project-title span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .content-project .container .project-title span {
    font-size: 14px;
  }
}
.content-project .container .img-container {
  aspect-ratio: 16/9;
}
.content-project .container .project-tags {
  gap: 0.8rem;
}
.content-project .container .project-tags .tag {
  color: #999999;
  font-size: 16px;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border: 1px solid #999999;
  border-radius: 4px;
}
.content-project .container .project-description {
  gap: 1rem;
}
.content-project .container .project-description h2 {
  font-size: 24px;
  color: #FAFAFA;
  margin: 0 0 1rem 0;
}
.content-project .container .project-description p {
  color: #999999;
  margin: 0 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .content-project .container .project-description p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content-project .container .project-description p {
    font-size: 16px;
  }
}
.content-project .container .project-description .task-list {
  gap: 0.8rem;
  margin: 0 0 2rem 0;
}
.content-project .container .project-description .task-list .task-item {
  align-items: center;
  gap: 0.8rem;
}
.content-project .container .project-description .task-list .task-item img {
  height: 20px;
}
.content-project .container .project-description .task-list .task-item span {
  color: #999999;
}
@media screen and (min-width: 768px) {
  .content-project .container .project-description .task-list .task-item span {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content-project .container .project-description .task-list .task-item span {
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .desktop-nav {
    display: none;
  }
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
}
.burger-btn .bar {
  background-color: #FAFAFA;
}
@media screen and (min-width: 980px) {
  .burger-btn {
    display: none;
  }
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #0F0F0F;
  transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 15, 15, 0.98);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.4s ease-in-out;
}
.mobile-nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.mobile-nav ul {
  text-align: center;
  padding: 0;
}
.mobile-nav ul li {
  margin-bottom: 1.6rem;
}
.mobile-nav ul li a {
  font-size: 20px;
}

.mon-animation-pixel {
  /* size of a single frame */
  width: 72px;
  height: 72px;
  /* path to sprite sprite sheet */
  background-image: url("/media/sprite_sheet.png");
  background-repeat: no-repeat;
  /* Position initiale : on commence sur la première frame (tout à gauche) */
  background-position: 0 0;
  /* Définition de l'animation :
   - animerPixel : le nom de la règle @keyframes définie ci-dessous.
   - 0.8s : la durée totale d'un cycle de l'animation (ajustez cette valeur pour la vitesse).
   - steps(4) : C'EST LE POINT CLÉ. Cela force l'animation à sauter de 4 étapes nettes,
                plutôt que de glisser fluidement.
   - infinite : l'animation tourne en boucle. */
  animation: animerPixel 1s steps(2) infinite;
  /* Optionnel : Pour mieux voir l'animation pixel art */
  image-rendering: pixelated;
  /* Pour garder les bords nets */
}

@keyframes animerPixel {
  from {
    /* start position */
    background-position: 0px;
  }
  to {
    /* end position (minus to go to the left) */
    background-position: -144px;
  }
}/*# sourceMappingURL=style.css.map */